@if (weather!.id) {
<mat-card>
  <mat-card-actions>
    <button
      mat-icon-button
      aria-label="back icon"
      (click)="goToHome()"
      matTooltip="Navigate back!"
    >
      <mat-icon class="back-icon">arrow_back</mat-icon>
    </button>
  </mat-card-actions>
  <mat-card-header>
    <mat-card-title>
      {{ weather!.name }}, {{ weather!.sys!.country }}
    </mat-card-title>
    <mat-card-subtitle>{{ weather!.weather[0].main }} </mat-card-subtitle>
  </mat-card-header>
  <img
    mat-card-image
    width="100"
    height="100"
    src="https://openweathermap.org/img/wn/{{
      weather!.weather[0].icon
    }}@2x.png"
    [alt]="weather!.weather[0].main"
  />
  <mat-card-content>
    <h1>{{ weather!.main.temp | number : "1.0-0" }} &#8451;</h1>
    <p>Pressure: <strong>{{ weather!.main.pressure }} hPa</strong></p>
    <p>Humidity: <strong>{{ weather!.main.humidity }} %</strong></p>
    <p>Wind: <strong>{{ weather!.wind.speed }} m/s</strong></p>
  </mat-card-content>
</mat-card>
} @else {
<mat-card>
  <mat-card-header>
    <div mat-card-avatar class="no-searched-city-avatar"></div>
    <mat-card-title>There is no searched city.</mat-card-title>
    <mat-card-subtitle>You can search it :)</mat-card-subtitle>
  </mat-card-header>

  <mat-card-actions>
    <button (click)="goToHome()" mat-flat-button color="primary">
      navigate for search!
    </button>
  </mat-card-actions>
</mat-card>
}
